<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Historial de Medicamentos Eliminados</title>
</head>
<body>
    <h1>Historial de Medicamentos Eliminados</h1>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Lote</th>
            <th>Cantidad</th>
            <th>Fecha de Caducidad</th>
            <th>Motivo</th>
            <th>Fecha Eliminación</th>
        </tr>
        {% for p in historial %}
        <tr>
            <td>{{ p.nombre }}</td>
            <td>{{ p.lote }}</td>
            <td>{{ p.cantidad }}</td>
            <td>{{ p.fecha_caducidad }}</td>
            <td>{{ p.motivo }}</td>
            <td>{{ p.fecha_eliminacion }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a class="Index" href="{{ url_for('index') }}">Volver</a>
    <form action="{{ url_for('borrar_historial') }}" method="post" onsubmit="return confirm('¿Deseas borrar todo el historial? Esta acción no se puede deshacer.')">
    <button type="submit"> Borrar historial</button>
</form>


</body>
</html>
