<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Medicamentos Registrados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Medicamentos Registrados</h1>

    <table>
        <tr>
            <th>Nombre</th>
            <th>Lote</th>
            <th>Cantidad</th>
            <th>Fecha de Caducidad</th>
            <th>Precio</th>
            <th>Alerta</th>
            <th>Eliminar</th>
        </tr>
        {% for p in productos %}
        <tr>
            <td>{{ p.nombre }}</td>
            <td>{{ p.lote }}</td>
            <td>{{ p.cantidad }}</td>
            <td>{{ p.fecha_caducidad }}</td>
            <td>
                {% if p.promocion_activa %}
                    <del>${{ p.precio }}</del>
                    <strong style="color: green">${{ p.precio_promocion }}</strong>
                {% else %}
                    ${{ p.precio }}
                {% endif %}
            </td>
            <td style="
    {% if not p.fecha_caducidad %}
        background-color: #d4edda; color: #155724;
    {% else %}
        {% set dias = (p.fecha_caducidad - now.date()).days %}
        {% if dias <= 0 %}
            background-color: red; color: white;
        {% elif dias <= 7 %}
            background-color: orange; color: black;
        {% elif dias <= 30 %}
            background-color: yellow; color: black;
        {% else %}
            background-color: #d4edda; color: #155724;
        {% endif %}
    {% endif %}
">
    {% if not p.fecha_caducidad %}
        Sin vencer
    {% else %}
        {% if dias <= 0 %}
            🔴 Vencido
        {% elif dias <= 7 %}
            🟠 Pronto a vencer
        {% elif dias <= 30 %}
            🟡 Cerca de vencer
        {% else %}
            🟢 Sin vencer
        {% endif %}
    {% endif %}
</td>

            <td><a href="{{ url_for('eliminar', id=p.id) }}"> Eliminar</a></td>
        </tr>
         <td>
    <form action="{{ url_for('devolver_producto') }}" method="POST" style="display:inline;">
        <input type="hidden" name="producto_id" value="{{ p.id }}">
        <button type="submit" class="btn btn-devolver">Devolver al proveedor</button>
    </form>
</td>
</td>


        {% endfor %}
    </table>
    
    <a class="Index" href="{{ url_for('index') }}">Volver</a>
</body>
</html>
