<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Reporte de Vencidos</title>
</head>
<body>
    <h1>Medicamentos Vencidos</h1>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Lote</th>
            <th>Cantidad</th>
            <th>Fecha de Caducidad</th>
            <th>Precio</th>
        </tr>
        {% for p in vencidos %}
        <tr style="background-color: red; color: white;">
            <td>{{ p.nombre }}</td>
            <td>{{ p.lote }}</td>
            <td>{{ p.cantidad }}</td>
            <td>{{ p.fecha_caducidad }}</td>
            <td>${{ p.precio }}</td>
        </tr>
        {% endfor %}
    </table>

    <h3>Total perdido por vencimiento: $-{{ total }}</h3>
    <br>

    <a class="Index" href="{{ url_for('index') }}">Volver</a>
    <a class="Index" href="{{ url_for('eliminados') }}">Eliminados</a>
    <a class="Index" href="{{ url_for('logs_devoluciones') }}">Logs de devoluciones</a>
</body>
</html>
